*{
    margin: 0%;
    padding: 0%;

}
#string{
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 500px;
    font-size: 8rem;
    font-style: italic;
    color: grey;
    background-color: black;
    text-decoration: underline;
}